*{margin: 0; padding: 0;

    box-sizing: border-box;}

.header{width: 100%;

 background-image: linear-gradient(to right, #de6262, #ffb88c );}



 .navbar-brand{color: whitel important;}





.nav-link{color: white!important;}

-nav-link:hover{color:rgb(255, 0, 212) 1important;}
